@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root {
  --primary-color: #fe2c55;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #161823;
  --scrollbar-color: rgba(240, 240, 240, 0.9);

  // Default Layout
  --default-layout-header-height: 60px;
  --default-layout-width: 100%;
  --default-layout-horizontal-spacer-right: 24px;
  --default-layout-horizontal-spacer-left: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', san-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: inherit;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
}

// Custom tippy tooltips
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow {
    top: -1px;
  }
}

// Customs scrollbar mac styles
body::-webkit-scrollbar {
  background-color: var(--white-color);
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: inherit;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
